# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
vacation_df = pd.read_csv("weather_data.csv")
vacation_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,butaritari,88,KI,1584331841,78,3.07,172.79,84.04,13.04
1,kapaa,20,US,1584331841,65,22.08,-159.32,78.80,5.82
2,kavieng,100,PG,1584331841,72,-2.57,150.80,83.88,9.55
3,castro,13,BR,1584331841,86,-24.79,-50.01,65.79,3.42
4,namibe,100,AO,1584331842,78,-15.20,12.15,75.52,5.86
...,...,...,...,...,...,...,...,...,...
536,tombouctou,0,ML,1584332204,8,20.00,-3.00,73.83,10.31
537,tyrma,100,RU,1584331924,78,50.08,132.17,21.18,4.85
538,tahoua,0,NE,1584332204,9,14.89,5.27,75.20,2.24
539,gigmoto,100,PH,1584332204,77,13.78,124.39,80.01,15.35
540,aykhal,90,RU,1584332204,92,66.00,111.50,24.80,6.71

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps
gmaps.configure(api_key=g_key)
Humidity = vacation_df["Humidity"].astype(float)

In [7]:
# Store latitude and longitude in locations
locations = vacation_df[["Lat", "Lng"]]
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

# Add layer
fig.add_layer(heat)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# Narrow down the DataFrame to find your ideal weather conditions

ideal_weather = pd.DataFrame(vacation_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

temp = (ideal_weather["Max Temp"] <= 78) & (ideal_weather["Max Temp"] > 65)
wind = ideal_weather["Wind Speed"] < 20
clouds = ideal_weather["Cloudiness"] < 20

ideal_weather2 = ideal_weather[temp & wind & clouds]
ideal_weather2

                  City  Max Temp  Wind Speed  Cloudiness
3               castro     65.79        3.42          13
44           taoudenni     68.31        6.11           0
138              zemio     68.76        2.51          10
147     el chichicaste     65.73        3.33           9
164             ixtapa     73.40        2.06           5
229              adrar     67.33       12.62           0
253               dali     65.41        6.13           7
263              moron     68.00        5.82           0
283      mount gambier     73.40        9.17           0
299          traralgon     77.00        5.99           0
303       san patricio     76.91        7.09          12
318         mubarakpur     72.23        4.56           7
327             najran     66.20        1.79           0
368             ndioum     71.60        4.70           0
378            omaruru     67.03        3.74           0
395          karasburg     70.00        4.29           0
428            tsabong     75.74        4.81           2
469  sao joao da barra     77.74       12.17           0
491            gobabis     69.80        2.24           0
513             ouadda     66.79        2.89           0
536         tombouctou     73.83       10.31           0
538             tahoua     75.20        2.24           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_map = pd.DataFrame(vacation_df, columns=["City", "Country", "Lat", "Lng"])

hotel_map["Hotel Name"] = ""
hotel_map

           City Country    Lat     Lng Hotel Name
0    butaritari      KI   3.07  172.79
1         kapaa      US  22.08 -159.32
2       kavieng      PG  -2.57  150.80
3        castro      BR -24.79  -50.01
4        namibe      AO -15.20   12.15
..          ...     ...    ...     ...        ...
536  tombouctou      ML  20.00   -3.00
537       tyrma      RU  50.08  132.17
538      tahoua      NE  14.89    5.27
539     gigmoto      PH  13.78  124.39
540      aykhal      RU  66.00  111.50

[541 rows x 5 columns]

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map